button {
	width: 200px;
	height: 2.5rem;
	background-color: lightblue;
	color: black;
	border: none;
	border-radius: 4px;
	font-size: 0.75rem;
	// color: white;
	font-size: 16px;
	font-weight: bold;

	&:hover {
		background-color: teal;
		cursor: pointer;
	}
}

body {
	background: linear-gradient(#5355a8, #1b1d94);
	background-repeat: no-repeat;
	height: 100vh;
}
